[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
pandas = "*"
altair = "*"
geopandas = "*"
openpyxl = "*"
xlrd = "*"
altair-data-server = "*"
altair-transform = "*"
matplotlib = "*"
mapclassify = "*"
python-googlegeocoder = "*"
geojson = "*"
rtree = "*"
pygeos = "*"

[dev-packages]

[requires]
python_version = "3.8"
